/* задаем стандартные цвета */
:root {
--primary-text-color: #212121;
--title-text-color: #757575;
--accent-color: #2196F3;
--white-color: #fff;
}
/* задаем цвет страницы базовый */
.page {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.address-list {
    display: flex;
    margin-left: auto;
}

.mail-icon {
    width: 16px;
    height: 15px;
}

/* стилизуем логотип */
.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--primary-text-color);
}
.logo-portfolio {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--primary-text-color);
}

.logo-color {
    color: var(--accent-color);
}

/* стилизуем навигацию и контакты */
.site-nav {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-left: 85px;
}
.site-nav .item {
    margin-left: auto;
    
}
.site-nav .item:not(:last-child) {
    margin-right: 50px;
}
.site-nav .link {
    display: block;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    padding-top:24px;
    padding-bottom: 25px;
    
}

.list .item:not(:last-child) {
margin-right: 30px;
}

.main-nav {
    display: flex;
    align-items: center;  
}

.link {
    text-decoration: none;
}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
}

.contacts {
        color: var(--primary-text-color);
        font-style: normal;
}
.contacts:hover {
    color: var(--accent-color);
}

.contacts:hover svg {
    fill: var(--accent-color);
}

.hero {
    width: 600px;
    padding: 200px 0px;
       
}
.hero-bgc {
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)
    ), url(../img/hw4/hero.jpg);  
     
}


.hero-title {
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 0px;
    color: var(--white-color);
    

}
.button-link {
    display: block;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color: var(--white-color);
    background-color:var(--accent-color);
    border-radius: 4px;
    padding: 10px 32px;
}

.advantages {
    display: flex;
}

.advantages-item:not(:last-child) {
    margin-right: 30px;

}

.advantages-icon {
    width: 70px;
    height: 70px;
}

.work {
    display: flex;
}
.work-item:not(:last-child) {
margin-right: 30px;
}

.team {
    display: flex;
}

.team-item:not(:last-child) {
margin-right: 30px;
}

.team-item {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
border-radius: 0px 0px 4px 4px;
}

.social {
    display: flex;
    justify-content: center;
}
.social-item {
    margin-bottom: 24px;
    width: 44px;
    height: 44px;
    padding: 12px;
    
    
}
.social-item:hover, .social-item :focus {
    background-color: var(--accent-color);
    border-radius: 100px;
}
.social-item + .social-item {
    margin-left: 10px;
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
     
}

.social-item:hover svg, .social-item :focus svg {
fill: #fff;
}

.clients-icon1 {
width: 44px;
height: 49px;
fill: #AFB1B8;
}

   


.clients-icon2 {
    width: 40px;
    height: 52px;
    fill: #AFB1B8;
    }

.clients-icon3 {
    width: 41px;
    height: 43px;
    fill: #AFB1B8;
    }

.clients-icon4 {
    width: 80px;
    height: 42px;
    fill: #AFB1B8;
    }

.clients-icon5 {
    width: 59px;
    height: 47px;
    fill: #AFB1B8;
    }

.clients-icon6 {
    width: 89px;
    height: 46px;
    fill: #AFB1B8;
    }

.clients-item :hover svg, .clients-item :focus svg{
    fill: var(--accent-color);
    
}

.clients-item :hover, .clients-item :focus {
    border-color: var(--accent-color);
}
    




.footer .social-icon {
    fill: white;
}
.footer .social-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}
.footer .social-item:hover, .social-item:focus {
    background-color: var(--accent-color);
}

.section-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.section-item {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: left;
    width: 270px;
}

.section-margin {
    margin-top: 94px;
}

.pict_position {
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.h2-title {     
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
}

/* .team {
    padding: 94px 0px;
} */

/* .bgc-section-item {
    background: white;
} */

/* .bgc-section-item :nth-child(2n) {
    background: #F5F4FA;
    
} */

.name {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.function {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.clients {
    display: flex;
    justify-content: space-between;
}

.clients-item {
    width: 170px;
    height: 90px;
      
}

.clients-link {
    display: inline-block;
    width: 170px;
    height: 90px;
    border-radius: 4px;
    border: solid #AFB1B8;
    border-width: 1px;
    text-align: center;
    padding: 19px 0px;
}

.footer-logo {
    font-size: 22px;
    line-height: 26px;
    font-family: Raleway;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-decoration: none;
    color:var(--white-color);
    
}


.footer-address {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white-color);
    }

.footer-address-item {
    margin-top: 8px;
    margin-bottom: 0;
}

.logo-margin {
    margin-bottom: 0;
    margin-top: 45px;
}

.tel-mail-link {
    margin-top: 9px;
}

.column-one {
    margin-right: 69px;
}




.connecting {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    
}
.developed {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 0;
    margin-bottom: 0;
    
}

.dev_border {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 18px;
}
.button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    border-radius: 4px;
    border: transparent;
    height: 38px;
}
.button:hover {
    background-color: var(--accent-color);
    color: white;
}


.content {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-right: auto;
margin-left: auto;
}

.footer {
    background-color: #2F303A;
    padding-bottom: 21px;
}

.footer-address .link {
color: rgba(255, 255, 255, 0.6);
}

.column {
    width: 231px;
    text-align: left;
}

.footer-contacts {
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-bottom: 28px;
}
.tel-mail {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.killer-margin {
    margin-top: 0;
    margin-bottom: 0;
    color: transparent;
}

.portfolio-nav {
    display: flex;
    justify-content: center;
    
}
.p-nav-item + .p-nav-item {
    margin-left: 8px;
}

.examples {
    display: flex;
    flex-wrap: wrap;
}
.examples .card {
    width: 370px;
    margin-right: 30px;
    height: 404px;
    margin-bottom: 30px;
}
.card:nth-child(3n) {
    margin-right: 0;
}
.card:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.card-text {
    margin-top: 0;
    
}





.examples-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-top: 20px;
    margin-bottom: 4px;
}
.examples-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 20px;
}


